<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/tennis_math_tracker</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">haribdald10530</property>

        <property name="connection.pool_size">5</property>

        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="entity.Players"/>
        <mapping class="entity.Matches"/>

    </session-factory>
</hibernate-configuration>